-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table.table-striped.col-md-5
  %thead
    %tr
      // Code below Feb 16
      //%th{class=("hilite" if @sort_column == "title")} = link_to 'Movie Title', movies_path(sort_by: 'title'), :id=>"title_header"
      <%= link_to 'Movie Title', movies_path(sort_by: 'title'), id="title_header",class =("hilite" if @sort_column == "title") %>
      //%th Movie title
      // Code above Feb 16
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
