-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table.table-striped.col-md-5
  %thead
    %tr
      %th= link_to "Movie Title", movies_path(@list.id, sort_by: 'title'), class: 'btn btn-secondary btn-sm btn-space'
    <button class="btn btn-sm btn-space btn-secondary" id="title_header">Sort By Rating</button>
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
