-#  This file is app/views/movies/index.html.haml
%h2 All Movies
= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    //= check_box_tag "ratings[#{rating}]",1,@ratings_checked.include?(rating), :id => 'ratings_#{rating}'
    = check_box_tag "ratings[#{rating}]",1,true, :id => 'ratings_#{rating}'
  = submit_tag 'Refresh', :id => 'ratings_submit'
  
%table.table-striped.col-md-5
  %thead
    %tr
      // Code below Feb 16
      //%th{:class=>("hilite" if @sort_column =="title")}= link_to 'Movie Title', movies_path(:sort_by=>'title'), :id=>"title_header"
      %th{class: @title_header}= link_to 'Movie Title', movies_path(:sort_by => 'title'), id: 'title_header'
      //{class: @classHilite["title"]}
      //%th= link_to 'Movie Title', movies_path(sort_by: 'title'), id="title_header",class =("hilite" if @sort_column == "title")
      //%th Movie title
      // Code above Feb 16
      %th Rating
      %th{class: @release_date_header}= link_to 'Release Date', movies_path(:sort_by => 'release_date'), id: 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
